<html>
  <head>
    <title>{{ user.username }} Profile</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>{{ user.username }} Profile</h1>
    <h2>Posts Created by you</h2>
    {% if posts %}
    <ul>
      {% for post in posts %}
      <li>
        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>
        <p>Created on: {{ post.created_at }}</p>
        <a href="{% url 'post_detail_template' post.pk %}">View Details</a>
        <a href="{% url 'edit_form' post.pk %}"> Edit Post</a>
        <a href="{% url 'delete_form' post.pk %}"> Delete Post</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>You haven't created any posts yet.</p>
    {% endif %}
    <a href="{% url 'logout'%}"> Logout </a>
  </body>
</html>
